h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 10vw;
}

h3 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 5vw;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  background-color: #333333;
  background-image: url('imgs/weather.png');
  background-repeat: repeat;
  background-size: 5%;
}
